* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/* Begin Header */

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 69px;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  border-bottom: 1px solid seashell;
  background-color: black;
  z-index: 5;
}

.logo img {
  height: 50px;
  padding-left: 10px;
  opacity: 0.9;
}

.nav span a {
  color: seashell;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.9;
}

/* End Header */

/* Begin Mission Section */

.missionsection {
  display: flex;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg');
  height: 700px;
  width: 1200px;
  margin: auto;
}

.missioninfo {
  align-self: center;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  height: 100px;
  width: 1200px;
  text-align: center;
  padding: 15px 15px;
}

/* End Mission Section */

/* Begin Tea of the Month Section */

.teamonthtext {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  width: 1000px;
  text-align: center;
  margin: auto;
  padding-top: 65px;
  padding-bottom: 15px;
}

.teamonthphotos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 1000px;
}

.teaphoto1 img {
  width: 300px;
  height: 200px;
  padding: 10px 10px;
  margin-left: 40px;
}

.teaphoto2 img {
  width: 300px;
  height: 200px;
  padding: 10px 10px;
}

.teaphoto3 img {
  width: 300px;
  height: 200px;
  padding: 10px 10px;
  margin-right: 40px;
}

.teaphototext {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  width: 300px;
  height: 50px;
  background-color: black;
  text-align: center;
}

.teaphototext.one {
  margin-left: 40px;
}

.teaphototext.three {
  margin-right: 40px;
}

.teaphoto4 img {
  width: 300px;
  height: 200px;
  padding: 10px 10px;
  margin-left: 195px;
}

.teaphoto5 img {
  width: 300px;
  height: 200px;
  padding: 10px;
  margin-right: 195px;
}

.teaphototext.four {
  margin-left: 195px;
}

.teaphototext.five {
  margin-right: 195px;
}

/* End Tea of the Month Section */

/* Begin Locations Section */

.locationscontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height: 500px;
  width: 1200px;
  margin: auto;
  background-image:url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg');
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

.locations {
  margin: auto;
  width: 100%;
  height: 50px;
  text-align: center;
  opacity: 0.9;
}

.address {
  width: 300px;
  height: 300px;
  background-color: black;
  opacity: 1;
  text-align: center;
}

.address p {
  padding: 20px;
}

.address h3 {
  padding: 20px;
}

/* End Locations Section */

/* Begin Footer Section */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 200px;
  width: 100%;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin-top: 10px;
}

/* End Footer Section */

/* Begin Copyright Section */

.copyright {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

/* End Copyright Section */
